*{
	scroll-behavior: smooth;
}

.fade-in {
	animation: fadeIn 3s;


}

@keyframes fadeIn {
	from {
		opacity: 0;

	}

	to {
		opacity: 1;
	}
}

h1{
	display: flex;
	font-size: 50px;
	color:white;

}
header {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}
header.sticky
{
	padding: 5px 100px;
	background: #fff;
}

header .logo {
	position: relative;
	text-decoration: none;		
	transition: 0.6s;
	width: 5em;
	
}
header ul
{
	position: relative;
	display: flex;

}

header ul li{
	 position: relative;
	 list-style: none;

	 display: inline-block;
}

header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color:#fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.6s;

	display: inline-block;
}

.box{
	position: relative;
	background:white;
	min-height: 60vh;
	width: 50%;
	top:50px;
	background: linear-gradient(
		to right bottom,
		rgba(255,255,255,0.6),
		rgba(255,255,255,0.2)
		);
	border-radius: 2rem;
	backdrop-filter:blur(2rem);
}
.banner{
	position: relative;
	/*width: 100%;*/
	height: 100vh;
	background: linear-gradient(to right top,#1d1d1b,#000);
	/*background:url(background.jpg);*/
	/*background-position: center center;*/
	display: flex;
	justify-content: center;
	align-items: center;


}

.banner2{
	position: relative;
	width: 100%;
	height: 10vh;
	background: linear-gradient(to right top,#fff,#000);
	/*background:url(background.jpg);*/
	/*background:#1a6783;*/
	background-position: center center;
}

.banner3{

	position: relative;
	/*width: 100%;*/
	height: 100vh;
	background: linear-gradient(to left top,#000,#fff);
	/*background:url(background.jpg);*/
	/*background-position: center center;*/
	display: flex;
	justify-content: center;
	align-items: center;
	}

.alexbnw {
	position: relative;
	width: 40%;
	left: 5%;
	
}

/*.scroll-area {
  scroll-snap-align: center;
}

.scroll-container {
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-container,
.scroll-area {
  max-width: 1000px;
  font-size: 60px;
  height:600px;
  margin: 0 auto;
}
*/
.bannerpubli{
	position: relative;
	/*width: 100%;*/
	height: 120vh;
	background: linear-gradient(to right top,#1d1d1b,#000);
	/*background:url(background.jpg);*/
	/*background-position: center center;*/


}
/* changer la couleur du texte du header quand scroll*/
header.sticky .logo,
header.sticky ul li a,header.sticky ul
{
	color: #000;

}
/* animation pour souligner pour le header */
.anim::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background:#f9c300;
	transition: width .3s
}

.anim:hover::after{

	width: 100%;
	transition: width .3s;
}


a:link{
	text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.button{
	position: relative;
	left:42%;
	top: 10px;

}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;

  
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{	
	background: linear-gradient(to right top,#31eee7,#ef3459);
}
.wrapper .button:nth-child(2):hover .icon{
  background: #24acea;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #f9c300;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #ef3459;
}
.wrapper .button:nth-child(2) span{
  color:#24acea;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #ff0000;
}

.text{
	position: absolute;
	display: flex;
	justify-content: center;
	left: 25%;
	top: 5%;
	font-size: 150%;
}
.alex{ 
	left:10%;
	top:15%;
	
	position:absolute;
	border-radius: 25px;
}
.yellow{
	color:#f9c300;
	position: absolute;
	display: flex;
	justify-content: center;
	left: 61%;
	top: 5%;
	font-size: 150%;
	text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}